# For more information see the manual pages of crontab(5) and cron(8)

PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
HOME=/home/admin
SHELL=/usr/bin/bash

# m    h    dom   mon   dow   command
  25   *    *     *     *     nice /home/admin/updater/update_from_repos 2>&1 >> /home/admin/updater/update.log
